accent-clr = #ce5e3a
accent-gradient = #B55333, #CA512B, accent-clr
background-clr = #F9F5ED
title-clr = #2D2D2F
desc-clr = rgb(90, 90, 90)

card-gradient = linear-gradient(to bottom, #ffffff14, #000a)